.container{

    display: grid;
    grid-template-columns: 0.5fr 1fr ;

    grid-gap: 15px;
    grid-column-gap: 50px;
}

.container .block{
    padding:20px;
    width: 100%;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;

}

.block.block1{


    grid-column: 1 / span 2;
    background-color: turquoise;
}
.block.block2{
    grid-column: 1 / span 2;
    background-color: crimson;

}
.block.block3{
    grid-column: 1 ;
    background-color: pink;

}
.block.block4{

    background-color: lightgreen;
}
.block.block5{

}
.block.block6{

}
.block.block7{

}
.block.block8{

}
